<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo list</title>
</head>
<body>
    {% block css %}
        <link rel="stylesheet" href="{{ asset("assets/css/bootstrap.min.css") }}">
    {% endblock %}

    {% block content %}{% endblock %}

    {% block scripts %}
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    {% endblock %}


</body>
</html>