{% extends '@App/base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {{ form_start(form) }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br>
                    <h2 class="text-center h2">To do list</h2>
                    <br>

                    <a href="#" class="btn btn-success add_new_item">Add new item</a>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Referince</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            {% macro item_prototype1(item) %}
                                <td>{{ form_row(item.title) }}</td>
                                <td>{{ form_row(item.description) }}</td>
                            {% endmacro %}

                            {% macro item_prototype2(item) %}
                                <td class="td-text td-text-1">{{ item.children.title.vars.value }}</td>
                                <td class="td-text td-text-2">{{ item.children.description.vars.value }}</td>

                                <td class="td-input td-input-1 hidden">{{ form_row(item.title) }}</td>
                                <td class="td-input td-input-2 hidden">{{ form_row(item.description) }}</td>

                                <td class="item_edit btn btn-warning" style="margin-right: 10px">Edit</td>
                                <td class="item_revert btn btn-primary hidden" style="margin-right: 10px">Revert</td>
                            {% endmacro %}

                            <tbody class="item-list" data-prototype="{{ _self.item_prototype1(form.items.vars.prototype)|e('html_attr') }}">
                                {% set i = 0 %}
                                {% for item in form.items %}
                                    {% set i = i + 1 %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        {{ _self.item_prototype2(item) }}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ form_row(form.submit) }}
                    </div>
                </div>{#col#}
            </div>{#row#}
        </div>{#container#}
    {{ form_end(form) }}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>

        var $collection = $('tbody.item-list');

        $collection.find('tr').each(function() {
            deleteItem($(this));
        });

        $('.add_new_item').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new item form
            addItem();
        });

        function addItem() {
            // Get the data-prototype
            var prototype = $collection.data('prototype');

            // get the new index
            var index = $collection.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collection.data('index', index + 1);

            // Display the form in the page in an tr
            if($collection.find('tr').length == 0) {
                var $newFormTr = $('<tr><td>1</td></tr>').append(newForm);
                $collection.append($newFormTr);
            } else {
                var $newFormTr = $('<tr><td>'+ ($collection.find('tr').length + 1) +'</td></tr>').append(newForm);
                $collection.find('tr:last').after($newFormTr);
            }

            deleteItem($newFormTr);

        }

        function deleteItem($item) {
            var $removeItem = $('<a href="#" class="btn btn-danger">Delete</a>');
            $item.append($removeItem);

            $removeItem.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                var clickedIndex = $(this).parent().index() + 1;

                //change reference
                $collection.find('tr').each(function() {
                    if($(this).index() + 1 > clickedIndex) {
                        $(this).find('td:first').text($(this).index());
                    }
                });

                // remove the tr
                $item.remove();
            });
        }

        $('.item_edit').on('click', function(){
            $(this).siblings('.item_revert').removeClass('hidden');
            $(this).addClass('hidden');

            $(this).parent().find('.td-text').addClass('hidden');
            $(this).parent().find('.td-input').removeClass('hidden');

        });

        $('.item_revert').on('click', function(){
            $(this).siblings('.item_edit').removeClass('hidden');
            $(this).addClass('hidden');

            $(this).parent().find('.td-text').removeClass('hidden');
            $(this).parent().find('.td-input').addClass('hidden');

            $(this).parent().find('.td-text').each(function(){
                var text = $(this).text();
                var inputNumber = $(this).attr('class').split(' ')[1].slice(8);
                $('.td-input-' + inputNumber).find('input').text(text);

            });

        });

    </script>

{% endblock %}
