{% extends 'AppBundle::base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <br>
            <h2>To do list delete</h2>
            <br>


            </div>{#col#}
        </div>{#row#}
    </div>{#container#}

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}