{% extends 'AppBundle::base.html.twig' %}


{% block css %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <br>
                <h2>To do list {{ item.id }}</h2>
                <br>

                {{ form_start(form) }}
                    <span>Title</span><br>
                    {{ form_widget(form.title) }}
                    <br>
                    <span>Description</span><br>
                    {{ form_widget(form.description) }}
                    <br><br>
                    {{ form_widget(form.submit) }}
                {{ form_end(form) }}

            </div>{#col#}
        </div>{#row#}
    </div>{#container#}

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}