{% extends 'AppBundle::base.html.twig' %}


{% block css %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <br>
                <h2 class="text-center">To do list list</h2>
                <br>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Referince</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="item-list">
                        {% set i = 0 %}
                        {% for item in items %}
                            {% set i = i + 1 %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    <a href="{{ path('todo_api_edit', {'id': item.id}) }}" class="btn btn-warning">Edit</a>
                                    <a href="{{ path('todo_api_delete', {'id': item.id}) }}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('todo_api_add') }}" class="btn btn-success">Add new element</a>
                </div>

            </div>{#col#}
        </div>{#row#}
    </div>{#container#}

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}


